.contentContainer {
    background: #ddd9d9;
    height: 100%;
    width: 1436px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;


    h1 {
        margin: 0 3rem;
        font-size: 2.5rem;
    }

    input {
        width: 340px;
        height: 3.5rem;
        margin-top: 1rem;
        border: 0;
        border-radius: 1rem;
        padding: 1rem;
    }

    .content {
        width: 450px;
        height: 450px;
        background-color: rgb(246, 239, 239);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        border-radius: 1.8rem;
    }
}